.matcha-token-sale-app {
  text-align: center;
  background-color: #dcf983;
  border: 1px solid black;
  border-style: dashed;
}

.account-details table {
  margin: 0px auto;
}

.account-details table td {
  text-align: left;
  height: 30px;
}

.account-details table td.title {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  color: gray;
  font-style: 4px;
}

.loader {
  font-size: 15px;
  font-style: italic;
  padding: 5px;
  margin: 5px;
  display: block;
  color:rgb(126, 139, 3);
  font-weight: bold;
}


body {
  background-color: #d7fdd77d;
  background-image: url("./images/bg.png");
  background-repeat: repeat;
  background-size: 1%;
}